.map-view {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.map-background {
  width: 100%;
  height: 846px;
  object-fit: cover;
  display: block;
}

.map-markers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
